git+https://github.com/MIPT-Oulu/Collagen/tree/b8793799db29401a952cfa7dde927266c8897525
deep-pipeline==0.2.4
dill
h5py
joblib
numba
numpy
matplotlib
omegaconf
opencv-python
pandas
pretrainedmodels==0.7.4
pytorch-toolbelt==0.1.3
pyyaml
scipy
scikit-image
scikit-learn
scipy
segmentation-models-pytorch==0.0.1
setuptools
solt==0.1.8
tensorboardx
tensorflow
tqdm
torch==1.1.0
torchvision==0.2.2
vtk